* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

@font-face {
  font-family: shadow;
  src: url(/assets/fonts/Shadows_Into_Light/Ubuntu/Ubuntu-Light.ttf);
}



.page-width {
  max-width: 1600px;
  margin: auto;
}

.primery-bc {
  background-color: rgb(22, 22, 22);
}

.secondry-bc {
  background-color: rgb(29, 29, 29);
}

.web-logo {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 2px solid white;
  transition: 0.2s;
}

.web-side-logo {
  display: flex;
  gap: 10px;
  align-items: center;
  color: white;
  font-family: shadow;
}

.web-logo:hover {
  transform: scale(1.09);
  box-shadow: 0px 0px 10px white;
}

.web-logo img {
  border-radius: 20px;
}

.header-grid {
  padding: 5px 60px;
}

.header-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons-login-signup button {
  width: 130px;
  padding: 10px 20px;
  color: white;
  background: linear-gradient(90deg, rgba(59, 59, 59, 1) 0%, rgba(145, 145, 145, 1) 35%, rgba(48, 48, 48, 1) 100%);
  border: none;
  border-radius: 100px 0px 0px 100px;
  transition: 0.3s;
  border: 1px solid black;
  border-bottom: 3px solid black;
  transform: skew(-20deg);
  font-size: 16px;
}

.buttons-login-signup button:hover {
  transform: scale(1.1) translateY(-5px) skew(-20deg);
  background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
  background-position: -128px;
  box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.459);
}

.buttons-login-signup button+button {
  border-radius: 0px 100px 100px 0px;
}

.header-search-bar input {
  padding: 10px 15px;
  width: 200px;
  border-radius: 10px 0px 0px 10px;
  border: none;
  outline: none;
  border-right: none;
  background-color: #0008;
  color: white;
  transition: 0.3s;
}

.header-search-bar:hover input {
  width: 400px;
}

.header-search-bar input:focus {
  width: 400px;
}

.header-search-bar button {
  padding: 10px 15px;
  border-radius: 0px 10px 10px 0px;
  background-color: #0008;
  color: white;
  border-left: none;
}

.header-search-bar button:hover {
  background-color: rgba(255, 255, 255, 0.452);
}

.header-search-bar {
  position: relative;
  z-index: 10;
  border: 1px solid white;
  border-radius: 10px;
  background-color: #0008;
}

.header-search-bar form::before {
  content: "";
  position: absolute;
  left: -5px;
  width: 0px;
  height: 0px;
  top: -5px;
  border-radius: 10px;
  transition: 0.5s;
  z-index: -1;
  border-radius: 100px;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.header-search-bar form:hover::before {
  width: 520px;
  height: 50px;
  border-radius:10px;
}

.profile-image {
  width: 40px;
  height: 40px;
  transition: 0.3s;
}

.profile-image>img {
  border-radius: 100px;
}

.profile-image:hover {
  transform: scale(1.1);
}

.side-bar-grid {
  width: 230px;
  padding: 0px 20px;
  height: 100%;
  background-color: rgb(24, 24, 24);
  ;
}

.home {
  padding: 4px;
  font-size: 20px;
  text-align: center;
  color: white;
  font-family: shadow;
  border-bottom: 2px solid gray;
}

.stoke {
  stroke: white;
}

.side-bar-grid h2 {
  padding: 10px;
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: gray;
}

.side-bar-grid h3 {
  font-family: shadow;
  color: rgb(199, 199, 199);
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  background-color: transparent;
  background-color: #0005;
  position: relative;
  padding: 2px 10px;
  margin: 10px 0px;
  border-radius: 0px 10px 10px 0px;
}

.side-bar-grid h3::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 40px;
  z-index: 0;
  background-color: #0004;
  border-radius: 0px 10px 10px 0px;
  transition: 0.3s;
  z-index: 0;
  left: 0;
  border: 1px solid rgba(255, 255, 255, 0.507);
}

.side-bar-grid h3:hover::before {
  width: 230px;
}

.body-grid {
  display: flex;
  gap: 60px;

}

.song-card {
  display: flex;
  gap: 20px;
  align-items: center;
  background-color: #0004;
  border-radius: 10px;
  transition: 0.3s;
}

.song-card:hover {
  transform: scale(1.05);
  background-color: #0008;
}

.song-image {
  width: 70px;
  height: 70px;
}

.song-image img {
  border-radius: 10px;
}

.song-info {
  color: rgb(207, 207, 207);

}

.song-info span {
  font-size: 15px;
}

.song-info h4 {
  font-size: 20px;
}



.songs-grid {
  display: grid;
  grid-template-columns: repeat(3, 310px);
  row-gap: 20px;
  column-gap: 20px;
  font-family: shadow;
  overflow: auto;
  padding: 10px 15px;
  height: 250px;
}

.songs-grid::-webkit-scrollbar {
  display: none;
}

.body-inner {
  height: calc(100vh - 63px);
}

/* width */
.page-grid::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.page-grid::-webkit-scrollbar-track {
  background: #2c2c2c;
}

/* Handle */
.page-grid::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
.page-grid::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  background-color: rgb(29, 29, 29);
}

.page-content .heading {
  padding: 20px 10px;
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgba(255, 255, 255, 0.747);
}

.placeholder-animetion {

  background: linear-gradient(to right, #000000, #434343, #000000);
  background-size: 400% 400%;
  animation: movingplaceholder 2s ease infinite alternate;
}

@keyframes movingplaceholder {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.album-image {
  width: 150px;
  height: 150px;
  transition: 0.3s;
  position: relative;

}

.album-image:hover .play-album {
  opacity: 1;
}

.album-image img {
  border-radius: 10px;
  transition: 0.3s;
}

.album-image:hover img {
  border-radius: 20px;
}

.album-card {
  padding: 10px;
  width: fit-content;
  border-radius: 10px;
  transition: 0.3s;
}

.album-card:hover {
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.233);
}

.play-album:hover {

  transform: translate(-50%, -50%) scale(1.2);

}

.play-album svg path {
  transition: 0.2s;
}

.play-album:hover svg path {
  fill: rgba(255, 255, 255, 0.692);
  stroke: gray;
}

.play-album {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.3s;
}

.album-image:hover {
  transform: scale(1.08);
}

.album-title {
  font-size: 15px;
  text-align: center;
  padding: 5px;
  color: rgb(207, 207, 207);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.album-grid {
  display: grid;
  grid-template-columns: repeat(5, 150px);
  column-gap: 40px;
  height: fit-content;
  padding: 10px;
}

.page-grid {
  height: calc(100vh - 66px);
  padding-right: 14px;
  overflow: auto;
}

.music-bar-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.music-bar-inner {
  position: relative;
}

.music-bar-grid {
  position: absolute;
  bottom: 0;
  left: 270px;
  background-color: rgb(41, 41, 41);
  width: calc(100% - 300px);
  border-radius: 10px;
  padding: 0px 10px;
}

.music-bar-grid>.song-card {
  width: 250px;
}

.music-bar-grid>.song-card .song-info {
  width: 150px;
  font-size: 100%;
}

audio {
  width: 0px;
  height: 0px;
}

.play-button {
  display: none;
}

.volume-bar {
  width: 200px;
}

.progration-bar {
  display: flex;
  gap: 5px;
}

.progration-bar input[type="range"] {
  accent-color: rgba(255, 255, 255, 0.493);
  background: transparent;
  border: none;
  outline: none;
  width: 250px;
}

.volume-bar input[type='range'] {
  accent-color: rgba(255, 255, 255, 0.493);
  background: transparent;
  border: none;
  outline: none;
}

.progration-bar-with-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.play-pause-button>span {
  animation: Play_pause 0.3s;
}

@keyframes Play_pause {
  from {
    transform: scale(0);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

.progration-bar-with-buttons button {
  background-color: transparent;
  border: 1px inset rgb(0, 0, 0);
  border-radius: 10px;
}

.custom-music-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.volume-bar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.auto-next-button button {
  padding: 5px;
  margin-top: 15px;
  font-size: 10px;
  border-radius: 5px;
  border: none;
  background-color: #0004;
  border: 2px solid black;
  z-index: 15;
  color: white;
  position: relative;
  top: 0;
  left: 0;
}



.auto-next-button button::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  background-color: rgba(0, 255, 191, 0.342);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
  border-radius: 100px;
  z-index: 10;
}

.auto-next-button button:hover::before {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.volume-bar-radio {
  display: flex;
  align-items: center;
}